<style type="text/css">
<%= render :file=>"person_mailer/email.css" %>
</style>
<div id="form_panel">
<img src="http://twitter.com/account/profile_image/bhivebmore?hreflang=en"/>
<p>
Hi <%=@person.first_name%>,</p>
<p>We are off to a great 2010 at Beehive Baltimore and several of us have been buzzing making enhancements to our membership system.</p>

<p>As part of this process, we'd like to ask you to <%=link_to 'use this link', login_person_url(@person, :key => @person.temporary_key)%>
  to sign in and update your member profile information so we can include you in the upcoming member directory page,
  as well as enable new features like automatic Foursquare check-in integration and more.</p>

<p>We are also adding integration with Paypal, and we will be in touch in the next day or two with details about that. In the meantime,
  if you can please update your profile, that will help out a lot.</p>
  
<p>See you around the Hive soon!
  </p>
  
Best,<p/>

Dave Troy<br/>
Organizer<br/>
Beehive Baltimore
<p>
P.S. &ndash; If you have any trouble with the link above (which is time limited to one day), please
<%=link_to 'use this link', email_password_person_url(@person, :key => @person.temporary_key)%>
to get a new email with a link to change your password.
</div>
